body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.top-contain{
    background-color: #1F2937;
    color:#f9faf8;
    padding-left: 25%;
    padding-right: 25%;

}

.main-img{
max-width: 50%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
}

li{
    display: inline;
}

h1{
    font-size: 48px;
    margin: 0;
}

a{
    text-decoration: none;
}

.main{
    display: flex;

    
}

.main-txt{
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}

.main-img{
    margin-left: auto;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

.button-signup{
    max-width: 80px;
    border-radius: 12px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}