body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.top-contain{
    background-color: #1F2937;
    color:#f9faf8;
    padding-left: 15%;
    padding-right: 15%;

}

.main-img{
    width: 400px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
}

li{
    display: inline;
}

a{
    text-decoration: none;
}

.main{
    display: flex;
    
}

.main-txt{
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}
.btn-signup{
    max-width: 80px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}